.footer1 {
  width: 1250px;
  margin: 0 auto;
  position: relative;
  top: -750px;
  background-color: #5B4A58;
}

.footer {
  width: 1050px;
  margin: 0 auto;
  margin-left: 100px;
}
.footer__ul1__li1 {
  width: 213px;
  height: 21px;
  left: 407px;
  top: 1755px;
  font-family: "Roboto Medium";
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  /* Green */
  color: #6AAE55;
}
.footer__ul1__li2__p1 {
  width: 184px;
  height: 44px;
  left: 433px;
  top: 1796px;
  margin-left: 10px;
  font-family: "Literal";
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}
.footer__ul1__li3__a1 {
  width: 141px;
  height: 22px;
  position: relative;
  top: -15px;
  font-family: "Literal";
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  color: #FFFFFF;
}
.footer__ul1__li3__i1 {
  margin-top: 10px;
  margin-bottom: 20px;
}
.footer__ul1__li4__a1 {
  width: 141px;
  height: 22px;
  position: relative;
  top: -15px;
  font-family: "Literal";
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  color: #FFFFFF;
}
.footer__ul1__li5__clock {
  color: white;
  position: relative;
  left: -8px;
  top: 6px;
  font-size: 20px;
}
.footer__ul1__li5__p1 {
  width: 186px;
  height: 44px;
  position: relative;
  top: -21px;
  font-family: "Literal";
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}
.footer__ul2 {
  margin-left: 30px;
}
.footer__ul2__li1 {
  width: 146px;
  height: 21px;
  left: 726px;
  top: 1755px;
  font-family: "Roboto Medium";
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  /* Green */
  color: #6AAE55;
}
.footer__ul2__li2 {
  width: 236px;
  height: 22px;
  left: 726px;
  top: 1876px;
  margin-top: 15px;
  font-family: "Literal";
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  color: #FFFFFF;
  opacity: 0.8;
}
.footer__ul3 {
  margin-left: 30px;
  gap: 20px;
}
.footer__ul3__li1 {
  width: 346px;
  height: 21px;
  left: 726px;
  top: 1755px;
  font-family: "Roboto Medium";
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  /* Green */
  color: #6AAE55;
}
.footer__ul3__li2 {
  width: 367px;
  height: 19px;
  left: 1068px;
  top: 1790px;
  font-family: "Literal";
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  justify-content: space-between;
  /* Gray 6 */
  color: #F2F2F2;
}
.footer__ul3__li3 {
  justify-content: space-between;
}
.footer__ul3__li5 {
  width: 222px;
  height: 40px;
  position: relative;
  top: 40px;
  left: 240px;
  padding-top: 5px;
  text-align: center;
  color: white;
  font-size: 20px;
  /* Green */
  background: #6AAE55;
  border-radius: 5px;
}

.lac {
  margin-top: 5px;
  position: relative;
  top: 15px;
  font-size: 20px;
  left: -10px;
}

.footer__ul3__li3 > input {
  width: 215px;
  height: 25px;
  position: relative;
  top: 15px;
}

.footer__ul3__li4 > input {
  width: 451px;
  height: 75px;
  position: relative;
  top: 28px;
  background: #FFFFFF;
}

.container-big {
  width: 1250px;
  margin: 0 auto;
}

body {
  background-color: #F9F8FB;
}

.container-title {
  width: 1050px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.df {
  display: flex;
}

.mrl {
  margin-left: 100px;
}

.jcsb {
  justify-content: space-between;
}

.header {
  background-color: #5B4A58;
  align-items: center;
  justify-content: center;
}
.header__nav__ul {
  justify-content: space-between;
}
.header__nav__ul__li1 {
  align-items: center;
}
.header__nav__ul__li1__p1 {
  width: 132px;
  height: 22px;
  left: 429.64px;
  top: 9px;
  font-family: "Literal";
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  margin-left: 10px;
  color: #6AAE55;
}
.header__nav__ul__li1__p2 {
  width: 164px;
  height: 22px;
  left: 564px;
  top: 9px;
  font-family: "Literal";
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  color: #FFFFFF;
}
.header__nav__ul__li2 {
  padding-left: 20px;
  background-color: #695766;
  width: 362px;
  height: 100%;
  left: 863px;
  top: 0px;
}
.header__nav__ul__li2__p1 {
  position: relative;
  margin-left: 20px;
  font-family: "Literal";
  font-size: 13px;
  line-height: 13px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header__nav__ul__li2__a1 {
  position: relative;
  top: -7px;
  font-family: "Literal";
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  color: #FFFFFF;
}
.header__nav__ul__li2__a2 {
  position: relative;
  top: -7px;
  font-family: "Literal";
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  margin-left: 10px;
  color: #FFFFFF;
}
.header__nav__ul__li3 {
  align-items: center;
}
.header__nav__ul__li3__p1 {
  width: 112.86px;
  height: 13.89px;
  left: 1400.01px;
  top: 13px;
  font-family: "Literal";
  font-size: 16px;
  line-height: 98%;
  /* or 16px */
  margin-left: 10px;
  color: #FFFFFF;
  transform: rotate(-0.2);
}

.fa-location-dot {
  color: white;
}

.fa-phone {
  color: #6AAE55;
  position: relative;
  top: -15px;
  left: -10px;
  font-size: 18px;
}

.section1 {
  width: 1250px;
  height: 107.11px;
  background: #FFF;
  margin: 0 auto;
}
.section1__ul1 {
  width: 1050px;
  text-align: center;
  justify-content: space-between;
}
.section1__ul1__li1 {
  width: 70px;
  height: 20px;
  top: 12px;
  position: relative;
  font-family: "Literal";
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  /* Brown */
  color: #5B4A58;
}
.section1__ul1__li2 {
  top: 12px;
  position: relative;
  width: 60px;
  height: 19px;
  font-family: "Literal";
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  text-transform: uppercase;
  /* Brown */
  color: #5B4A58;
}
.section1__ul1__li3 {
  top: 12px;
  position: relative;
  width: 62.03px;
  height: 20px;
  font-family: "Literal";
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  /* Brown */
  color: #5B4A58;
}
.section1__ul1__li4 {
  top: 12px;
  position: relative;
  width: 85.01px;
  height: 17.96px;
  font-family: "Literal";
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  /* Brown */
  color: #5B4A58;
}
.section1__ul1__li5 {
  width: 102.14px;
  height: 84.6px;
  top: -12px;
  position: relative;
  /* Brown */
}
.section1__ul1__li5__li6 {
  top: 12px;
  position: relative;
}
.section1__ul1__li5__li6__p1 {
  width: 208.11px;
  height: 19.51px;
  font-family: "Literal";
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  /* Brown */
  color: #5B4A58;
  transform: rotate(-0.22deg);
}
.section1__ul1__li5__li7 {
  position: relative;
  top: 13px;
}
.section1__ul1__li5__li7__p1 {
  width: 97.17px;
  height: 19.51px;
  left: 1347.89px;
  top: 84px;
  font-family: "Literal";
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  /* Brown */
  color: #5B4A58;
  transform: rotate(-0.22deg);
}
.section1__ul1__li5__li8 {
  display: block;
  position: relative;
  top: -10px;
}
.section1__ul1__li5__li8__p1 {
  position: relative;
  top: -10px;
  width: 32.55px;
  height: 16.4px;
  left: 1479px;
  top: 76.13px;
  font-family: "Literal";
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  /* Brown */
  color: #5B4A58;
  transform: rotate(-0.22deg);
}
.section1__ul1__li5__li8__p2 {
  position: relative;
  top: -10px;
  width: 35.19px;
  height: 17.73px;
  left: 1479px;
  top: 93.66px;
  font-family: "Literal";
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  /* Brown */
  color: #5B4A58;
  opacity: 0.5;
  transform: rotate(-0.22deg);
}

select {
  height: 30px;
  border: none;
  position: relative;
  top: 14px;
}

.fa-user {
  border: 1.5px solid #5B4A58;
  border-radius: 50%;
  width: 22px;
  padding-top: 1px;
  position: relative;
  top: 13px;
  margin-right: 5px;
  text-align: center;
  height: 22px;
}

.section2 {
  width: 1050px;
  margin: 0 auto;
  padding-left: 90px;
}
.section2__p1 {
  width: 188px;
  height: 19px;
  font-family: "Literal";
  font-size: 14px;
  line-height: 19px;
  color: #828282;
}
.section2__button {
  width: 102px;
  height: 30px;
  top: 30px;
  left: 348px;
  color: white;
  border: none;
  position: relative;
  /* Green */
  background: #6AAE55;
  border-radius: 3px 10px;
}
.section2__div1 {
  justify-content: space-between;
}
.section2__div1__div__ul1 {
  justify-content: space-between;
  margin-left: -240px;
  gap: 10px;
}
.section2__div1__div__ul1__li1:hover {
  border: 2px solid #6AAE55;
}
.section2__div1__div__ul1__li1 {
  width: 164px;
  height: 60px;
  text-align: center;
  background: #FFFFFF;
  border-radius: 10px;
}
.section2__div1__div__ul1__li1__input {
  position: relative;
  left: 55px;
  top: -65px;
  font-size: 190px;
  color: greenyellow;
  background-color: #6AAE55;
}
.section2__div1__div__ul1__li1__h3 {
  width: 52px;
  margin-left: 12px;
  font-family: "Literal";
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  /* Brown */
  color: #5B4A58;
}
.section2__div1__div__ul1__li1__p1 {
  width: 80px;
  position: relative;
  top: -20px;
  margin-left: 8px;
  font-family: "Literal";
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  /* Gray 3 */
  color: #828282;
}
.section2__div1__div__ul2 {
  position: relative;
  left: -230px;
}
.section2__div1__div__ul2__li1 {
  width: 65px;
  height: 22px;
  left: 915px;
  top: 415px;
  font-family: "Literal";
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  /* Brown */
  color: #5B4A58;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.section2__div1__div__ul2__li2 {
  width: 144px;
  height: 22px;
  left: 1014px;
  top: 415px;
  font-family: "Literal";
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  /* Gray 3 */
  color: #828282;
}
.section2__div1__div__ul3 {
  margin-left: -230px;
  padding-top: 10px;
}
.section2__div1__div__h1 {
  margin-left: -200px;
  font-family: "Literal";
  font-size: 24px;
  line-height: 32px;
  /* Brown */
  color: #5B4A58;
}
.section2__div1__div__h2 {
  margin-left: -200px;
  font-family: "Literal";
  font-size: 18px;
  line-height: 150%;
  color: #5B4A58;
}
.section2__div2__ul1 {
  gap: 26px;
  position: relative;
  top: -400px;
  left: -40px;
}
.section2__div2__ul2 {
  position: relative;
  top: -400px;
}
.section2__div2__ul2__li1 {
  margin-left: 50px;
}
.section2__div2__ul2__li1__b1 {
  width: 25px;
  height: 25px;
  position: relative;
  top: 25px;
  font-size: 15px;
  text-align: center;
  border: none;
  /* Gray 5 */
  background: #E0E0E0;
  border-radius: 4px;
}
.section2__div2__ul2__li1__p1 {
  margin-left: 20px;
  margin-top: 25px;
  font-family: "Literal";
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 24px */
  /* Brown */
  color: #5B4A58;
}
.section2__div2__ul2__li1__b2 {
  width: 25px;
  height: 25px;
  border: none;
  top: 25px;
  left: 20px;
  position: relative;
  /* Green */
  background: #6AAE55;
  border-radius: 4px;
}
.section2__div2__ul2__li2 {
  position: relative;
  left: 120px;
}
.section2__div2__ul2__li2__p1 {
  width: 62px;
  height: 22px;
  left: 1125px;
  top: 686px;
  font-family: "Literal";
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  /* Green */
  color: #6AAE55;
}
.section2__div2__ul2__li2__p2 {
  font-size: 15px;
  position: relative;
  top: -10px;
}
.section2__div2__ul2__li3 {
  position: relative;
  left: 190px;
  width: 150px;
  height: 40px;
  top: 22px;
  /* Green */
  background: #6AAE55;
  border-radius: 10px;
}
.section2__div2__ul2__li3__p1 {
  width: 97px;
  height: 26.45px;
  left: 15px;
  position: relative;
  top: -10px;
  font-family: "Literal";
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
}

.gul1 {
  margin-left: 200px;
  position: relative;
  left: 200px;
  top: -400px;
}

.section2__div2__ul2__li3 > img {
  margin-top: 11px;
  margin-left: 24px;
}

.mrl3 {
  margin-left: 30px;
}

.section2__div1__div__ul3 > li {
  width: 299px;
  height: 24px;
  margin-bottom: 15px;
  font-family: "Literal";
  font-size: 16px;
  line-height: 150%;
  color: #5B4A58;
}

.tik {
  position: relative;
  top: -200px;
  left: 300px;
}

.screen {
  position: relative;
  top: -390px;
  left: 490px;
}

.section3 {
  width: 1050px;
  margin: 0 auto;
  position: relative;
  top: -900px;
  left: 30px;
}
.section3__h1 {
  width: 200px;
  height: 29px;
  position: relative;
  left: 500px;
  font-family: "Karton";
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  text-align: center;
  /* Green */
  color: #6AAE55;
}
.section3__div1__div1 {
  margin-top: 20px;
}
.section3__div1__div1__ul1__li1 {
  width: 169px;
  height: 48px;
  font-family: "Literal";
  font-size: 22px;
  line-height: 24px;
  /* Brown */
  color: #5B4A58;
}
.section3__div1__div1__ul1__li3 {
  width: 76px;
  height: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Literal";
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  /* Brown */
  color: #5B4A58;
}
.section3__div1__div1__ul1__li2 {
  margin-top: 10px;
}
.section3__div1__div1__ul1__li2__b1 {
  border: none;
  width: 25px;
  height: 25px;
  font-size: 22px;
  text-align: center;
  align-items: center;
  background: #E0E0E0;
  border-radius: 4px;
}
.section3__div1__div1__ul1__li2__p1 {
  position: relative;
  left: 24px;
  top: -14px;
  font-family: "Literal";
  font-size: 16px;
  line-height: 150%;
  color: #5B4A58;
}
.section3__div1__div1__ul1__li2__b2 {
  width: 25px;
  height: 25px;
  border: none;
  margin-left: 50px;
  /* Green */
  background: #6AAE55;
  border-radius: 4px;
}
.section3__div1__div1__ul1__li4 {
  text-align: center;
  padding-top: 10px;
  width: 135px;
  height: 30px;
  border-radius: 5px;
  background-color: #6AAE55;
  color: white;
}

.section4 {
  width: 1050px;
  margin: 0 auto;
  position: relative;
  top: -850px;
  left: 520px;
  gap: 10px;
}
.section4__div1__b1 {
  width: 29px;
  height: 35px;
  left: 866px;
  top: 1428px;
  border-radius: 5px;
  border: none;
  font-family: "Literal";
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  color: #E0E0E0;
  background: #c2b9b9;
  /* Green */
}
.section4__div1__b1:hover {
  color: #6AAE55;
  border: 2px solid #6AAE55;
}
.section4__div1__b2:hover {
  color: #6AAE55;
  border: 2px solid #6AAE55;
}
.section4__div1__b2 {
  width: 29px;
  height: 35px;
  font-family: "Literal";
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  border: none;
  /* Gray 5 */
  color: #E0E0E0;
  background: #c2b9b9;
  border-radius: 5px;
}
.section4__btn {
  width: 262px;
  height: 48px;
  left: -55px;
  color: white;
  font-size: 20px;
  border: none;
  position: relative;
  top: 50px;
  /* Green */
  background: #6AAE55;
  border-radius: 10px;
}

.section5__ul > li {
  color: white;
}

.section5__ul {
  padding-top: 12px;
  justify-content: space-between;
  width: 1050px;
}

.section5 {
  position: relative;
  top: -750px;
  width: 1250px;
  margin: 0 auto;
  height: 50px;
  background: #746471;
}/*# sourceMappingURL=main.css.map */