.section2 {
    width: 1050px;
    margin: 0 auto;
    padding-left: 90px;


    &__p1 {
        width: 188px;
        height: 19px;
        font-family: 'Literal';
        font-size: 14px;
        line-height: 19px;
        color: #828282;

    }

    &__button {
        width: 102px;
        height: 30px;
        top: 30px;
        left: 348px;
        color: white;
        border: none;
        position: relative;
        /* Green */

        background: #6AAE55;
        border-radius: 3px 10px;

    }

    &__div1 {
        justify-content: space-between;

        &__div {
            &__ul1 {
                justify-content: space-between;
                margin-left: -240px;
                gap: 10px;

                &__li1:hover {
                    border: 2px solid #6AAE55;

                }


                &__li1 {
                    width: 164px;
                    height: 60px;
                    text-align: center;
                    background: #FFFFFF;
                    border-radius: 10px;

                    &__input {
                        position: relative;
                        left: 55px;
                        top: -65px;
                        font-size: 190px;
                        color: greenyellow;
                        background-color: #6AAE55;
                    }

                    &__h3 {
                        width: 52px;
                        margin-left: 12px;
                        font-family: 'Literal';
                        font-size: 14px;
                        line-height: 19px;
                        /* identical to box height */


                        /* Brown */

                        color: #5B4A58;

                    }

                    &__p1 {
                        width: 80px;
                        // height: 22px;
                        position: relative;
                        top: -20px;
                        margin-left: 8px;
                        font-family: 'Literal';
                        font-size: 16px;
                        line-height: 22px;
                        /* identical to box height */


                        /* Gray 3 */

                        color: #828282;
                    }
                }
            }

            &__ul2 {
                position: relative;
                left: -230px;

                &__li1 {
                    width: 65px;
                    height: 22px;
                    left: 915px;
                    top: 415px;

                    font-family: 'Literal';
                    font-size: 16px;
                    line-height: 22px;
                    /* identical to box height */


                    /* Brown */

                    color: #5B4A58;
                    text-decoration-line: underline;
                }

                &__li2 {
                    width: 144px;
                    height: 22px;
                    left: 1014px;
                    top: 415px;

                    font-family: 'Literal';
                    font-size: 16px;
                    line-height: 22px;
                    /* identical to box height */


                    /* Gray 3 */

                    color: #828282;
                }
            }

            &__ul3 {
                margin-left: -230px;
                padding-top: 10px;
            }

            &__h1 {
                margin-left: -200px;



                font-family: 'Literal';
                font-size: 24px;
                line-height: 32px;

                /* Brown */

                color: #5B4A58;
            }

            &__h2 {
                margin-left: -200px;
                // color: #6AAE55;
                font-family: 'Literal';
                font-size: 18px;
                line-height: 150%;
                color: #5B4A58;
            }
        }
    }
}

.mrl3 {
    margin-left: 30px;
}

.section2__div1__div__ul3>li {
    width: 299px;
    height: 24px;
    margin-bottom: 15px;
    font-family: 'Literal';
    font-size: 16px;
    line-height: 150%;
    color: #5B4A58;
}
.tik{
    position: relative;
    top: -200px;
    left: 300px;
}